@page "/importedAnimations"
@using System.Numerics
@using Ab4d.SharpEngine.Animation
@using Ab4d.SharpEngine.Cameras
@using Ab4d.SharpEngine.Common
@using Ab4d.SharpEngine.SceneNodes
@using Ab4d.SharpEngine.Browser
@using Ab4d.SharpEngine.glTF
@using Ab4d.SharpEngine.Meshes
@implements IDisposable
@inject IJSRuntime JS

<PageTitle>Ab4d.SharpEngine - animations imported from glTF files</PageTitle>

<div style="padding: 1.5rem">
    <h1>Ab4d.SharpEngine - animations imported from glTF files</h1>
    
    <br/>
    Selected animation:<br/>
    <label><input type="radio" value="keyframe" name="animationtype" checked="checked" @onchange="OnAnimationTypeChanged" /> Simple keyframe animation</label><br />
    <label><input type="radio" value="skeleton" name="animationtype" @onchange="OnAnimationTypeChanged" /> Simple skeleton (skinned) animation</label><br />
    
    <br/>
    <p>To load an animation from a custom glTF file, see the '3D model importers / glTF file viewer'.</p>

    <SharpEngineSceneView @ref="sharpEngineSceneView" style="width: 100%; min-width: 400px; max-width: 1000px; height: 500px; margin-top: 10pt; border: solid black 1px"></SharpEngineSceneView>
</div>

@code {
    private SharpEngineSceneView sharpEngineSceneView = null!;

    private TargetPositionCamera? _targetPositionCamera;
    private PointerCameraController? _pointerCameraController;

    private GroupNode? _importedSceneNode;

    private glTFImporter? _gltfImporter;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var scene = sharpEngineSceneView.Scene;
        var sceneView = sharpEngineSceneView.SceneView;

        sceneView.BackgroundColor = Colors.LightSkyBlue;

        _targetPositionCamera = new TargetPositionCamera()
        {
            Heading = 30,
            Attitude = -10,
            Distance= 550,
            TargetPosition= new Vector3(0, 85, 0),
            ShowCameraLight = ShowCameraLightType.Always,
        };

        sceneView.Camera = _targetPositionCamera;

        _pointerCameraController = new PointerCameraController(sceneView)
        {
            RotateCameraConditions = PointerAndKeyboardConditions.LeftPointerButtonPressed,
            MoveCameraConditions = PointerAndKeyboardConditions.LeftPointerButtonPressed | PointerAndKeyboardConditions.ControlKey,
            ZoomMode = CameraZoomMode.PointerPosition,
            RotateAroundPointerPosition = true,
            IsPinchZoomEnabled = true, // zoom with touch pinch gesture
            IsPinchMoveEnabled = true  // move camera with two fingers
        };

        scene.SetAmbientLight(0.2f);


        _gltfImporter = new glTFImporter(scene);

        string gltfUrl = "Resources/Models/BoxAnimated.glb"; // simple keyframe animation
        await ImportFileWithAnimation(scene, gltfUrl);
    }

    private async Task ImportFileWithAnimation(Scene scene, string url, bool loop = true, AnimationDirections animationDirections = AnimationDirections.Normal)
    {
        if (_gltfImporter == null)
            return;

        scene.RemoveAllAnimations();
        scene.RemoveAllSkeletonAnimations();

        scene.RootNode.Clear();

        // when using ImportAsync with gltf file, the importer will use GpuDevice.CanvasInterop
        // to load additional dat or texture files if they are required
        var importedNode = await _gltfImporter.ImportAsync(url);

        ShowImportedModel(importedNode);

        if (_gltfImporter.Animations != null)
            StartImportedAnimation(_gltfImporter.Animations, _gltfImporter.AnimatedSkeletonMeshes, loop, animationDirections);
    }

    private async Task OnAnimationTypeChanged(ChangeEventArgs e)
    {
        string gltfUrl;
        AnimationDirections animationDirections;

        if (e.Value?.ToString() == "skeleton")
        {
            gltfUrl = "Resources/Models/RiggedFigure.glb";
            animationDirections = AnimationDirections.Alternate;
        }
        else
        {
            gltfUrl = "Resources/Models/BoxAnimated.glb";
            animationDirections = AnimationDirections.Normal;
        }

        await ImportFileWithAnimation(sharpEngineSceneView.Scene, gltfUrl, loop: true, animationDirections);
    }

    private void ShowImportedModel(GroupNode? importedSceneNode)
    {
        var scene = sharpEngineSceneView.Scene;

        if (importedSceneNode == null)
            return;

        Utilities.ModelUtils.PositionAndScaleSceneNode(importedSceneNode, new Vector3(0, 0, 0), PositionTypes.Bottom, new Vector3(100, 100, 100));

        scene.RootNode.Add(importedSceneNode);

        _importedSceneNode = importedSceneNode;
    }

    // Performance note:
    // Skeletal animation can be very slow when running in Debug or Release build.
    // Start the sample in Deployed build to run at full speed.

    private void StartImportedAnimation(List<AnimationGroup>? importerAnimations, List<Mesh>? animatedSkeletonMeshes, bool loop = true, AnimationDirections animationDirections = AnimationDirections.Normal)
    {
        if (importerAnimations == null || importerAnimations.Count == 0)
            return;

        // IMPORTANT:
        // Before the animations are started, we also need to add the animated skeleton meshes to the Scene.
        // This is done by calling AddAnimatedSkeletonMeshes to get all the meshes with skeleton in some GroupNode,
        // or by calling AddAnimatedSkeletonMesh to add each mesh and its skeleton individually.
        if (animatedSkeletonMeshes != null)
        {
            // The easiest way to add all skeleton meshes is to call AddAnimatedSkeletonMeshes and pass the parent GroupNode.
            //sharpEngineSceneView.Scene.AddAnimatedSkeletonMeshes(_importedSceneNode);

            // But because we have a list of all meshes with skeletons, it is faster to add each individual mesh:
            foreach (var oneMesh in animatedSkeletonMeshes)
                sharpEngineSceneView.Scene.AddAnimatedSkeletonMesh(oneMesh, oneMesh.Skeleton!);
        }

        // Start the first AnimationGroup (it can define multiple Animations - each for its Target SceneNode)
        var firstAnimationGroup = importerAnimations[0];
        foreach (var oneAnimation in firstAnimationGroup.Animations)
        {
            oneAnimation.Loop = loop;
            oneAnimation.Direction = animationDirections;
            oneAnimation.Start();
        }
    }

    public void Dispose()
    {
        sharpEngineSceneView.Dispose();
    }
}

