@inherits LayoutComponentBase
<div class="page" style="background: #333;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="min-height: 100%; height: auto;">
        <article style="background: white; min-height: 100%; height: auto; display: flex;">
            @Body
        </article>
    </main>
</div>
